<%- include('header', {type: ''}) %>
<% if (!article) { %>
  <p class="tips">暂无内容</p>
<% } else { %>
  <div class="wrapper">
    <div class="card article-detail">
      <div class="card-header">
        <div class="avatar">
          <img src="/img/avatar/<%= article.avatar %>" class="avatar" alt="avatar">
        </div>
        <div class="desc">
            <span>作者：<%= article.name %></span>
            <span>评论数：<%= article.comment %></span>
            <span>浏览量：<%= article.pv %></span>
            <span>发布时间：<%= article.time %></span>
        </div>
      </div>
      <div class="card-body">
        <h1 class="title"><%= article.title %></h1>
        <div class="content markdown">
          <%- article.content %>
        </div>
      </div>
      <div class="card-footer">
        <span class="edit">编辑</span>
        <span class="delete">删除</span>
      </div>
    </div>
    <div class="comment-wrapper">
      <% if(!session.user){ %>
        <p class="tips">登录之后才可以评论哟~</p>
      <% } else { %>
        <form method="post" class="form form-vertical">
          <div class="form-item">
            <textarea name="content" rows="4"></textarea>
          </div>
          <div>
            <button class="btn btn-primary" id="comment">发表留言</button>
          </div>
        </form>
      <% } %>
      <% if(!comments.length){ %>
        <p class="tips">还没有评论，赶快去评论吧！</p>
      <% } else { %>
        <ul class="list comment-list">
          <% comments.forEach((item) => { %>
            <li class="list-item">
              <img src="/img/avatar/<%= item.avatar %>" class="avatar" alt="avatar">
              <div class="list-item-content">
                <div class="name"><%= item.name %></div>
                <div class="comment"><%= item.content %></div>
                <div class="time"><%= item.time %></div>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </div>
  </div>
<% } %>
<script>
$(document).ready((e) => {
  // 发表评论
  let isComment = true
  $('#comment').click(function (e) {
    e.preventDefault()
    if (!isComment) return;
    isComment = false;

    const content = $('textarea').val().trim()
    const articleId = window.location.pathname.split('/')[2]
    if (!content) {
      isComment = true;
      return message('请输入评论!')
    }
    $.ajax({
      url: '/comment',
      type: 'POST',
      data: { content, articleId},
      dataType: 'json',
      success: (res) => {
        isComment = true;
        if  (res.code === 200) {
          message('留言发表成功')
          setTimeout(() => {
            isComment = true
            window.location.reload()
          }, 1000)
        } else {
          return message(res.msg)
        }
      },
      error: () => {
        isComment = true;
        message('留言发表失败')
      }
    })
  })
})
</script>
<% include('footer') %>